@keyframes borderPulse {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: blue;
    }
    100% {
        border-color: transparent;
    }
}

.loading-border {
    animation: borderPulse 1s infinite;
}
.dolu{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.bos{
    align-items: center;
    justify-content: center;

}
