<!DOCTYPE html>
<html>
<head>
    <title>Talebinizi Aldık</title>
</head>
<body>
    <p>Merhaba {{userName}},</p>
    <p>Talebinizi aldık ve sizinle yakında iletişime geçeceğiz.</p>
    <p>Saygılarımızla,<br>Pars Analitik Kimya ve Endüstriyel Cihazlar İthalat İhracat Limited Şirketi</p>
</body>
</html>
