<!DOCTYPE html>
<html>
<head>
    <title><strong>Talebinizi Aldık</strong></title>
</head>
<body>
    <p>Merhaba {{userName}},<br><br></p>
    <p>İlginiz ve formu doldurduğunuz için teşekkür ederiz!<br><br>Başvurunuz başarıyla alınmıştır ve ilgili birimimize yönlendirilmiştir. Size en kısa sürede geri dönüş yapacağız.<br><br>Eğer herhangi bir sorunuz veya ek bilgilendirme talebiniz olursa, lütfen bizimle iletişime geçmekten çekinmeyin. Müşteri hizmetleri ekibimize 0216 441 41 60 veya info@parsanalitik.com üzerinden ulaşabilirsiniz.<br><br>Saygılarımızla,<br><br><b>Pars Analitik</b> Müşteri Hizmetleri Ekibi</p>
</body>
</html>
